html
{
	color:#555;
	background: url(http://www.gbgl-hq.com/demoness/html/nanami.png);
	background-position: right; !important;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;!important;
	font-family: 'Open Sans';
	font-size: 12pt!important;
}

.navigation
{
	position: fixed;
	width:310;
	left: -290;
	background:url(http://www.gbgl-hq.com/demoness/html/navarrow.png);
	background-position: 10px;
	background-repeat:none;
}

.navigation ul
{
	list-style-type: none;
}

.navigation ul li a:hover, a:active, a:link
{
	text-decoration: none;
	color: #32558a;
}

.navigation ul li a:visited
{
	text-decoration: none;
	color: #1e3252;
}

#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width:60%
}


.navigation ul
{
	width: 290;
	padding:0px;
	margin:0px;
	color:#555;
	list-style:none;
	text-indent:10px;
	font-size: 10pt!important;
	font-weight: 600;
}

.navigation ul li
{
	background:#eee;
	line-height:15px;
    border:1px solid #333;
}

.navigation ul li a
{
	text-decoration:none;
	color:#555;
	display:block;
}

.navigation ul li a:hover
{
	text-decoration:none;
	background:  #eee;
	display:block;
}

#wrapper ol
{
	list-style-type: none;
}

.h
{
	font-size: 16pt;
	font-weight: 600;
}

.h2
{
	font-size: 26pt;
	font-weight: 600;
	text-align: center;
}

.h3
{
	font-size: 8pt;
	text-align:center;
}
