html
{
	color:rgb(70,70,70);
	background: 	#eee;
}
.navigation
{
	position: fixed;
	width:310;
	left: -290;
	background: rgb(100,100,100);
}

.navigation ul
{
	list-style-type: none;
}

.navigation ul li a:visited, a:hover, a:active, a:link
{
	text-decoration: none;
	color: #333;
}

#wrapper
{
	margin-left: auto;
	margin-right: auto;
	width:60%
}


.navigation ul
{
	width: 290;
	padding:0px;
	margin:0px;
	color:#555;
	list-style:none;
	text-indent:15px;
	font-size: 10pt!important;
}

.navigation ul li
{
	background:#eee;
	line-height:15px;
    border:1px solid #333;
}

.navigation ul li a
{
	text-decoration:none;
	color:#555;
	display:block;
}

.navigation ul li a:hover
{
	text-decoration:none;
	background:  #eee;
	display:block;
}

#wrapper ol
{
	list-style-type: none;
}

.h
{
	font-size: 16pt!important;
}
